body{background-image:url("bg.jpg");}
.hightline{color:#09F;}
a{color:#747474;
  text-decoration:none;}
.ziti{font:Arial;}
.hui{color：:#333;}
a:hover{font-weight:bold;
        color:#FF0;}
		
body{border:#0F6 3px solid;}
li{height:80px;}
table{padding-left:auto;
      padding-right:auto;
	  background-color:white;}
        


